body{
    background-color: lightcyan;
}
h1{
    color: black;
    text-align: center;
    font-family: serif;
    font-size: 40px;
    font-weight: 800;

}
h2{
    color: cornflowerblue;
    text-align: center;
    font-family: serif;
    font-size: 30px;
    font-weight: 600;
}
.list{
    text-align: left;
    font-family: serif;
    font-size: 20px;
    font-weight: 600;
}
#radarChart {
    width: 400px;
    height: 400px;
  }